
  <nb-card accent="success" [@animation1]="ani0[0]" id="card1">
    <nb-card-header>
      <p class="center">Un peu plus sur moi</p>
    </nb-card-header>
    <nb-card-body>
      <p>Hey, Je m’appelle Justin Burnel, je suis un étudiant en deuxième année dans un <span title="Nouveau DUT en 3 ans au lieu de 2 (en gros c'est une license)" class="important-text-success help inline-block ">BUT informatique.</span>
        <br><br>Je cherche à me procurer des <span class="important-text-success">expériences professionnelles</span> en plus de ce que l’école <span class="inline-block"> peut m’apporter.</span>
        <br><br>Je suis <span class="important-text-success">passionné par l’informatique </span>, je lis beaucoup de documentation durant mon temps libre et je suis toujours en train <span class="inline-block"> de me former.</span>
      </p>

      <br>
    </nb-card-body>
  </nb-card>
