<div class="flex justify-center mx-4 flex-wrap">
    <nb-card class="w-full md:w-2/3 lg:w-1/3 mx-4" style="max-width: 600px">
        <nb-card-header>Site E-commerce (Terminé)</nb-card-header>
        <nb-card-body>
            <div class="flex flex-row justify-center items-center mb-4 w-full ">
                <nb-icon class="mr-1 w-24 h-24" icon="arrow-ios-back-outline" status="control" (click)="changeIndexEcommerce(-1,0)"></nb-icon>
                <a class="" href="https://codding-store.netlify.app/home" target="_blank">
                    <img alt="image de mon projet ecommerce" [src]="currentImage[0][0]">
                </a>
                <nb-icon class="ml-1 w-24 h-24" icon="arrow-ios-forward-outline" status="control" (click)="changeIndexEcommerce(1,0)"></nb-icon>
            </div>
            <a class="underline text-white mt-4" href="https://codding-store.netlify.app/home"  target="_blank">Cliquer ici pour voir</a>
        </nb-card-body>
        <nb-card-footer>
            <p>Petit projet d'un site e-commerce en angular avec l'aide d'un tutoriel pour certaines parties.</p>
        </nb-card-footer>
    </nb-card>

    <nb-card class="w-full md:w-2/3 lg:w-1/3 mx-4" style="max-width: 600px">
        <nb-card-header>Site Genshin Impact (Terminé)</nb-card-header>
        <nb-card-body>
            <div class="flex flex-row justify-center items-center mb-4 w-full ">
                <nb-icon class="mr-1 w-24 h-24" icon="arrow-ios-back-outline" status="control" (click)="changeIndexEcommerce(-1,1)"></nb-icon>
                <a class="" href="https://codding-store.netlify.app/home" target="_blank">
                    <img alt="image de mon projet ecommerce" [src]="currentImage[1][0]">
                </a>
                <nb-icon class="ml-1 w-24 h-24" icon="arrow-ios-forward-outline" status="control" (click)="changeIndexEcommerce(-1,1)"></nb-icon>
            </div>
            <a class="underline text-white mt-4" href="https://genshin-ascension.netlify.app/home"  target="_blank">Cliquer ici pour voir</a>
        </nb-card-body>
        <nb-card-footer>
                        <p>Ce site permet de voir facilement quels matériaux il faut pour augmenter de niveaux vos personnages dans le jeu <span class="truncate">"Genshin Impact".</span></p>
                        <p><br> Vous pouvez naviguer librement et même rechercher des personnages spécifique pour voir leurs améliorations.</p>
                        <p><br> Ce projet à été réaliser avec Angular et nodeJS pour l'api.</p>
        </nb-card-footer>
    </nb-card>


    <!--    <nb-card class="w-full md:w-2/3 lg:w-1/3 mx-4" style="max-width: 500px">-->
    <!--        <nb-card-header>Site fan du jeu Genshin Impact</nb-card-header>-->
    <!--        <nb-card-body class="overflow-hidden relative">-->
    <!--            <a class="imageSite" href="https://genshin-ascension.netlify.app/home" target="_blank">-->
    <!--                <div class="absolute top-0 left-0 z-10 w-full h-full flex justify-center items-center mx-4">-->
    <!--                    <p class="text-white font-bold text-xl ">Voir le site</p>-->
    <!--                </div>-->
    <!--                <img alt="image de mon projet gensin impact" src="./assets/images/genshinImpact.png">-->
    <!--            </a>-->
    <!--        </nb-card-body>-->
    <!--        <nb-card-footer class="text-left">-->
    <!--            <p>Ce site permet de voir facilement quels matériaux il faut pour augmenter de niveaux vos personnages dans le jeu <span class="truncate">"Genshin Impact".</span></p>-->
    <!--            <p><br> Vous pouvez naviguer librement et même rechercher des personnages spécifique pour voir leurs améliorations.</p>-->
    <!--            <p><br> Ce projet à été réaliser avec Angular et nodeJS pour l'api.</p>-->
    <!--        </nb-card-footer>-->
    <!--    </nb-card>-->
</div>
