<nb-card accent="info">
  <nb-card-header>
    <p class="text-3xl font-medium text-start underline underline-offset-8 decoration-1 bleu">Formule Statico</p>
    <br>
    <div class="flex justify-start">
      <div class="flex flex-col items-start w-1/2">
        <div>
          <p class="text-lg w-auto">À partir de</p>
        </div>
        <div class="flex justify-center items-end "><span class="text-5xl font-medium">249</span> <span class="text-3xl font-medium">€99</span> <span class="text-xl font-medium">/site</span> </div>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <div>
      <div>
        <p class="important-text-info text-xl text-start">Basic</p>
        <p class="text-lg text-start">Formule standard pour un site web statique </p>
      </div>
      <br>
      <div>
        <p class="important-text-info text-xl text-start">Visibilité</p>
        <p class="text-lg text-start">Parfait pour atteindre un nouveau public.</p>
      </div>
      <br>
      <div>
        <p class="important-text-info text-xl text-start">Information</p>
        <p class="text-lg text-start">Idéal pour afficher vos coordonnées, horaires et pour présenter votre entreprise</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
