@use '../../../../../../themes.scss' as *;

* {
  font-family: roboto;
}

.important-text-info {
  font-weight: 570;
  color: nb-theme(color-info-default);
}

.bleu {
  text-decoration-color: nb-theme(color-info-400);
}

.ombrer {
  box-shadow: 0px 7px 16px 3px rgba(0, 0, 0, 0.66);
}
