@use '../../../themes.scss' as *;

#image__moi {
  width: 200px;
  height: 200px;
  background-image: url("../../../assets/images/moi.png");
  background-size: cover;
  margin: 1.2rem 0 1.7rem 0;
  border-radius: 50%;
  border: 5px solid nb-theme(color-info-900);
  box-shadow: 0px 10px 30px -4px #000000;
}
