<div id="Accueil" class="content">
  <p class="text-5xl">Justin Burnel</p>
  <div class="content-image flex justify-center my-4">
    <div class="flip">
      <div class="flip-inner">
        <div class="front">
          <img class="thumbnail" src="../../../assets/images/moi.png" alt="c'est moio">
        </div>
        <div class="back">
          <img class="thumbnail thumbnail-hover" src="../../../assets/images/duck.gif" alt="コイン裏">
        </div>
      </div>
    </div>
  </div>
  <p class="text-xl">Étudiant en informatique</p>
  <br>
  <app-price-card></app-price-card>
</div>
<!-- ! refaire hauteur prix -->
<!-- TODO flash light mot lumineux -->
