<div id="Accueil" class="content">
  <p class="text-5xl">Justin Burnel</p>
  <div class="content-image flex justify-center my-4">
    <div class="flip">
      <div class="flip-inner">
        <div class="front">
          <img class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/tierlist-portfolio.appspot.com/o/PORTFOLIO%2FjustinBien.png?alt=media&token=9484fa1e-3efc-495b-b229-817313c8c124" alt="c'est moi">
        </div>
        <div class="back">
          <img class="thumbnail thumbnail-hover" src="https://firebasestorage.googleapis.com/v0/b/tierlist-portfolio.appspot.com/o/PORTFOLIO%2FbgDeFou.jpg?alt=media&token=977422ff-eebc-4f3c-8330-2ce10733fbd2" alt="Bg de ouf">
        </div>
      </div>
    </div>
  </div>
  <p class="text-xl">Étudiant en informatique</p>
  <br>
  <app-propos-card></app-propos-card>
</div>
<!-- ! refaire hauteur prix -->
<!-- TODO flash light mot lumineux -->
