@use '../../../../../../themes.scss' as *;

* {
  font-family: roboto;
}

.important-text-warning {
  font-weight: 570;
  color: nb-theme(color-warning-default);
}

.jaune {
  text-decoration-color: nb-theme(color-warning-default);
}

.ombrer {
  box-shadow: 0px 7px 16px 3px rgba(0, 0, 0, 0.66);
}
