<nb-card accent="warning" style="min-height:470px ;" class="ombrer">
  <nb-card-header>
    <p class="text-3xl font-medium text-start underline underline-offset-8 decoration-1 jaune">Formule Dynamo</p>
    <br>
    <div class="flex justify-start">
      <div class="flex flex-col items-start w-1/2">
        <div>
          <p class="text-lg w-auto">À partir de</p>
        </div>
        <div class="flex justify-center items-end "><span class="text-5xl font-medium">349</span> <span class="text-3xl font-medium">€99</span> <span class="text-xl font-medium">/site</span> </div>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <div>
      <div>
        <p class="important-text-warning text-xl text-start">Classique</p>
        <p class="text-lg text-start">Formule Statico +</p>
      </div>
      <br>
      <div>
        <p class="important-text-warning text-xl text-start">Personalisé</p>
        <p class="text-lg text-start">Site unique pour chaque utilisateur selon ses préférences</p>
      </div>
      <br>
      <div>
        <p class="important-text-warning text-xl text-start">Gestion d'utilisateurs</p>
        <p class="text-lg text-start">Base de données, envoie d'emails, de notifications</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
