<div id="Accueil" class="content">
    <br><br>
    <p class="title center">Justin Burnel</p>
    <p class="center unbold">Étudiant en informatique</p>
    <div class="content-image center-image">
        <div id="image__moi" class="content__image"></div>
    </div>
    <div class="description">
        <p class="title center">Bonjour !</p>
        <p>Je m’appelle Justin Burnel, je suis un étudiant en deuxième année d’informatique.
            Je cherche à me procurer une expérience <span class="important-text"> en plus de ce que l’école peut m’apporter.</span>
            Je suis passionné par l’informatique, je lis beaucoup de documentation durant mon temps libre et je suis toujours en train de me former.</p>
        <br>
        <p>Ce que je peux vous apporter :</p>
        <ul>
            <li>
                <p>Site web statique : Augmenter votre <span class='important-text'>visibilité sur internet</span>. Idéal pour afficher vos coordonnées, horaire et <span class="important-text"> présenter votre entreprise </span>.</p>
            </li>
            <li>
                <p>Site web dynamique : Pour qu’un site web <span class="important-text"> donne envie aux internautes de le visiter </span> il doit être <span class="important-text">vivant</span>. Site personnalisé pour chaque utilisateur, afin d’améliorer leur expérience. Partager régulièrement du contenu est signe que votre site bouge et que votre entreprise est en activité.</p>
            </li>
            <li>
                <p>Application web (exemple : réalisation d’un site web qui fonctionne comme une vraie application mobile ou un logiciel sans l’inconvénient de devoir l’installer. Par exemple l’ajout de chat en temps réel lors de la navigation ou permettre une navigation plus fluide)</p>
            </li>
        </ul>

        <p>Pourquoi choisir un étudiant ?</p>



    </div>
</div>