<div id="Accueil" class="content">
    <p class="title center">Justin Burnel</p>
    <p class="center unbold">Étudiant en informatique</p>
    <div class="content-image center-image">
        <div id="image__moi" class="content__image"></div>
    </div>
    <br>

    <div #card1>
        <nb-card accent="success" [@animation1]="tab[0]" id="card1">
            <nb-card-header>
                <p>Un peu plus sur moi</p>
            </nb-card-header>
            <nb-card-body>
                <p>Je m’appelle Justin Burnel, je suis un étudiant en deuxième année d’informatique.
                    Je cherche à me procurer une expérience <span class="important-text-success"> en plus de ce que l’école peut m’apporter.</span>
                    Je suis passionné par l’informatique, je lis beaucoup de documentation durant mon temps libre et je suis toujours en train de me former.</p>
                <br>
            </nb-card-body>
        </nb-card>

        <br>

        <div #card2>
            <nb-card accent="info" [@animation1]="tab[1]" id="card2">
                <nb-card-header>
                    <p>Ce que je peux vous apporter</p>
                </nb-card-header>
                <nb-card-body>
                    <ul>
                        <li>
                            <p>Site web statique : Augmenter votre <span class='important-text-info'>visibilité sur internet</span>. Idéal pour afficher vos coordonnées, horaire et <span class="important-text-info"> présenter votre entreprise </span>.</p>
                        </li>
                        <li>
                            <p>Site web dynamique : Pour qu’un site web <span class="important-text-info"> donne envie aux internautes de le visiter </span> il doit être <span class="important-text-info">vivant</span>. Site <span class="important-text-info">personnalisé pour chaque utilisateur </span>, afin d’améliorer leur expérience. Partager régulièrement du contenu est signe que votre site bouge et que votre entreprise est en activité.</p>
                        </li>
                        <li>
                            <p>Application web (exemple : réalisation d’un site web qui fonctionne comme une vraie application mobile ou un logiciel sans l’inconvénient de devoir l’installer. Par exemple l’ajout de chat en temps réel lors de la navigation ou permettre une navigation plus fluide)</p>
                        </li>
                    </ul>
                </nb-card-body>
            </nb-card>
        </div>

        <br>

        <div #card3>
            <nb-card accent="primary" [@animation1]="tab[2]" id="card3">
                <nb-card-header>
                    <p>Pourquoi choisir un étudiant ?</p>
                </nb-card-header>
                <nb-card-body>
                    <p>Bla bla bla Bla bla bla Bla bla bla Bla bla bla
                        Bla bla blaBla bla blaBla bla blaBla bla bla<span class=" important-text-primary"> Bla bla blaBla bla bla</span>
                        Bla bla blaBla bla blaBla bla blaBla bla bla</p>
                    <br>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>