@use '../../../../../../themes.scss' as *;

* {
  font-family: roboto;
}

.important-text-danger {
  font-weight: 570;
  color: nb-theme(color-danger-500);
}

.rouge {
  text-decoration-color: nb-theme(color-danger-600);
}
