<nb-card accent="danger">
  <nb-card-header>
    <p class="text-3xl font-medium text-start underline underline-offset-8 decoration-1 rouge">Formule Appli Web</p>
    <br>
    <div class="flex justify-start">
      <div class="flex flex-col items-start w-1/2">
        <div>
          <p class="text-lg w-auto">À partir de</p>
        </div>
        <div class="flex justify-center items-end "><span class="text-5xl font-medium">399</span> <span class="text-3xl font-medium">€99</span> <span class="text-xl font-medium">/site</span> </div>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <div>
      <div>
        <p class="important-text-danger text-xl text-start">Innovant</p>
        <p class="text-lg text-start">Formule la plus sécurisée et performante</p>
      </div>
      <br>
      <div>
        <p class="important-text-danger text-xl text-start">Moins cher</p>
        <p class="text-lg text-start">Moins chers qu'une vraie application ou un vraie logiciel</p>
      </div>
      <br>
      <div>
        <p class="important-text-danger text-xl text-start">Responsive</p>
        <p class="text-lg text-start">Parfait pour tous les appareils, de la télé 4k à la plus petite montre connecté</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
