<div #card1>
  <nb-card accent="success" [@animation1]="tab[0]" id="card1">
    <nb-card-header>
      <p class="center">Un peu plus sur moi</p>
    </nb-card-header>
    <nb-card-body>
      <p>Hey, Je m’appelle Justin Burnel, je suis un étudiant en deuxième année dans un <span title="Nouveau DUT en 3 ans au lieu de 2 (en gros c'est une license)" class="important-text-success help inline-block ">BUT informatique.</span>
        <br>Je cherche à me procurer des <span class="important-text-success">expériences professionnelles</span> en plus de ce que l’école <span class="inline-block"> peut m’apporter.</span>
        <br>Je suis <span class="important-text-success">passionné par l’informatique </span>, je lis beaucoup de documentation durant mon temps libre et je suis toujours en train <span class="inline-block"> de me former.</span>
      </p>

      <br>
    </nb-card-body>
  </nb-card>


  <div #card2>
    <nb-card accent="info" [@animation1]="tab[1]" id="card2">
      <nb-card-header>
        <p class="center">Ce que je peux vous apporter</p>
      </nb-card-header>
      <nb-card-body>
        <!-- TODO faire apparaître les paragraphes au fur et à mesure (dure à mon avis faudra utliser *ngFor GLHF mec) -->
        <ul>
          <li>
            <p> <span style="text-decoration: underline;">Site statique</span></p>
            <p style="margin-left: 25px;">Augmenter votre <span class='important-text-info'>visibilité sur internet</span>. Idéal pour afficher vos coordonnées, horaire et présenter votre entreprise.</p>
          </li>
          <li>
            <p><span style="text-decoration: underline;">Site dynamique</span></p>
            <p style="margin-left: 25px;"><span class="important-text-info"> Unique </span>pour chaque utilisateur, il est <span class="important-text-info">vivant</span> et donne envie d'y revenir.</p>
          </li>
          <li>
            <p><span style="text-decoration: underline;">Application web</span></p>
            <p style="margin-left: 25px;">Application sur navigateur <span class="important-text-info">pas besoin d'installation</span>.
              <br><span class="important-text-info"> Grande accessibilité</span>, navigation fluide, moins chers qu'une application mobile, sécurisé.
            </p>
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>

  <div #card3>
    <nb-card accent="warning" [@animation1]="tab[2]" id="card3">
      <nb-card-header>
        <p class="center">Pourquoi choisir un étudiant ?</p>
      </nb-card-header>
      <nb-card-body>
        <ul>
          <li>
            <p> Je suis très à l'aise avec les outils informatiques et les nouvelles technologies. Je peux donc réaliser un site web <span class="inline-block"> <span class="important-text-warning">performant</span> et <span class="important-text-warning">attractif</span>.</span></p>
          </li>
          <li>
            <p> C'est <span class="important-text-warning">moins chers</span> que les professionnels.</p>
          </li>
          <li>
            <p>Un étudiant à souvent du temps libre (par expérience personnelle). Donc quoi de mieux ?</p>
          </li>
        </ul>
        <p>
          En plus de tous ces avantages, vous me permettrez de m’améliorer personnellement et de me procurer une expérience dans le monde du travail, <span class="inline-block">alors <span class="important-text-warning underline">Merci</span> !</span>
        </p>
        <span class=" important-text-primary"> </span>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- TODO flash light mot lumineux -->
